.passInput-box {
  position: relative;
  border: #a32cc4;
  display: flex;
  align-items: center;
  width: 85%;
  margin-bottom: 20px;
}

.passInput-box input {
  background: rgb(250, 249, 246);
  width: 100%;
  padding: 10px;
  margin-left: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  font-size: 18px;
  transition: 0.2s;
}

.passInput-box span {
  position: absolute;
  left: 15px;
  top: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.75);
  transition: 0.2s;
}

.passInput-box input:focus {
  border-color: #a32cc4;
}

.passInput-box input:valid ~ span,
.passInput-box input:focus ~ span {
  color: #a32cc4;
  transform: translate(10px, -7px);
  font-size: 14px;
  padding: 0 10px;
  background: rgb(250, 249, 246);
  border-left: 1px solid #a32cc4;
  border-right: 1px solid #a32cc4;
  letter-spacing: 1px;
}

.pass-icon {
  display: grid;
  place-items: center;
  padding: 12.8px;
  font-size: 22px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.75);
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s;
}

.pass-icon svg {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.passInput-box input:focus ~ .pass-icon {
  border: 1px solid #a32cc4;
  border-left: none;
  color: #a32cc4;
}
