.pagination {
  display: flex;
  justify-content: center;
  margin: 10px auto 10px;
  width: 100%;
  user-select: none;
}

.pagination-main {
  display: flex;
  background: white;
  padding: 8px;
  border-radius: 50px;
}

.page-content {
  line-height: 48px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  border: none;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 0 3px;
}

.page-btn {
  background: white;
  color: #a32cc4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-number {
  background: #a32cc4;
  color: white;
}

@media (hover: hover) {
  .page-btn:hover {
    background: rgb(216, 212, 212);
  }
}
