.joboverview-container {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.joboverview {
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.prevent-screen-scroll {
  overflow: hidden;
}
