.jobsection-container {
  padding: 0 20px;
  margin-bottom: 10px;
}

.joblist-title {
  color: white;
  text-align: left;
}

.jobsection {
  display: flex;
}

@media screen and (max-width: 1034px) {
  .jobsection-container {
    padding: 0;
    margin-bottom: 0;
  }

  .jobsection {
    flex-direction: column;
  }

  .joblist-title {
    padding: 0 20px;
  }
}
