.user-box {
  background-image: linear-gradient(to bottom, #710193, #a32cc4);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 15px 30px;
  margin: 0 14px;
  user-select: none;
}

.user-box h3 {
  color: rgb(250, 249, 246);
  text-align: center;
}

.selected-user {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
